<?xml version="1.0" ?>
<robot name="P3DX">
    <webots>
        <plugin type="p3dxros2.p3dxnode.P3DXDriver" />
        <device reference="Sick LMS 291" type="Lidar">
            <ros>
                <enabled>true</enabled>
                <updateRate>10</updateRate>
                <topicName>/scan</topicName>
                <alwaysOn>true</alwaysOn>
                <frameName>base_footprint</frameName>
            </ros>
        </device>
    </webots>
</robot>

